<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js ES6 Webpack 4 Project Starter</title>
    <style>
      body {
        font-family: Monospace;
        background-color: #000;
        color: #fff;
        margin: 0px;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="container" id="canvas-container"></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
